h3 {
	font-weight: bold;
}

strong {
	color: #666;
}

.step-description {
	font-size: 15px;
	color: #999;
}

.input-container {
	position: relative;
}

.input-container > label {
	position: absolute;
	top: 18px;
	left: 10px;
	color: #6c8bc6;
	font-size: 13px;
}

.text-input {
	margin: 10px 0;
	padding: 30px 10px 8px 10px;
	border: solid 1px #c5c5c5;
	width: 100%;
}

.message {
	border: solid 1px #c5c5c5;
	padding: 25px 20px;
}

.message > h3 {
	margin: 10px 0;
}

.loading {
	display: none;
	position: relative;
	top: -3px;
	margin-right: 10px;
}